body {
	font-family: "UbuntuMonoRegular", "Ubuntu Mono", 'courier new', monospace, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #999;
        background-color: #DCD5D5;
        padding: 1.5em;

	    background-image:url('/home/loguncov/Git/OpenSCAD-models/Loguncov_Maxim/Openscad_Html/CSS/image/OpenSCAD-logo.png');
	    background-repeat:no-repeat;
	    background-attachment:fixed;
	    background-position:center;
    
}
title {
line-height: 100em;
color: #722985
}
a{
	color: #447FFF;
}
b{
	color: #722985;
}
h1 {
  font-family: "UbuntuMonoBold", "Ubuntu Mono", 'courier new', monospace, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 5.8em;
	color: #722985;
	
	margin: 0.3em 1em 0.7em 1.2em;
}
h2 {
  font-family: "UbuntuMonoBold", "Ubuntu Mono", 'courier new', monospace, sans-serif;
	font-size: 1.4em;
	color: #79A22E;    /*Названия разделов*/
	margin: 0.3em 0 19px 0.3em;
}
section {
        margin: 0.3em 0.3em 3.5em 0.3em;
}
section section {
	height: 36.7em; 
}
section section article {
	float: none;
}
article {
	background: #FFFFDD;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 2em;
	padding: 0.6em 0.6em 0.6em 0.6em;/*Облака*/
	float: left;
	margin: 1em 0.6em 0.6em 0em;
	border: 2px solid #000;
}
article.info {
	background: #fff;
	border: 1px solid #ddd; (cайты)
}
article.info h2 {
	color: #bbb; Название облака сайты
}

code {
	font-family: "UbuntuMonoRegular", "Ubuntu Mono", 'courier new', monospace, sans-serif;
	color: #000;
	display: block;
	margin: 0 0 0.5em 0;

}
code span {
	color: #999;
}

dt code {
	display: inline;
}
dt {
	float: left;
	clear: left;
}
dd {
	margin: 0.3em 0.3em 0.5em 2em;
}
ul {
	margin: 0 0 0.5em;
  padding: 0 1em;
}
ul li {
	/*margin: 0 0 0.2em 0;*/
	line-height: 1.2em;
}

footer {
	
	float: right;
	font-size: 0.7em;
	margin: 0 0.6em 0.6em 0;
	text-align: right;
}
.clear {
	clear: both;
}

.fork {
	position: absolute;
	top: 0;
	right:0;
}
.fork img{
	border: none;
}
